{% load static %}

<head>
    <title>About Us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body style="background-image:url({% static '/Images/Medicalimage.jpg' %})">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
    <a class="navbar-brand" href=#><i class='fa fa-clinic-medical'></i>Doctor App By</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <img src="{% static 'Images/gbm.png' %}" alt="no image" height="50" width="150">

    <div class="collapse navbar-collapse justify-content-around" id="navbarSupportedContent">
        <ul class="navbar-nav mc-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Home </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'about_us' %}"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;About
                    Us</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact_us' %}"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;Contact
                    Us</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'analyze' %}"><i class="fa fa-search-plus" aria-hidden="true"></i>&nbsp;Analyze</a>
            </li>

            {% if user.is_authenticated %}

            <li class="nav-item ">
                <a class="nav-link" href="{% url 'patient' %}"><i class="fa fa-bed" aria-hidden="true"></i>Patient
                    Details</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Log
                    out</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Sign
                    Up</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Log
                    In</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
<div id="mydiv">
    <p>We are the largest Pathology laboratory in Dubai and providing superior quality pathology services <br> to its
        patients through a very efficient network of labs and collection points.<br>
        We have a qualified team of pathology specialists with doctorate degrees.<br>
        We offer patients convenient locations for their diagnostic laboratory services and efficient service.
    </p>
    <ul>
        <li>24x7 hour Laboratory service</li>
        <li>24x7 hour Pharmacy</li>
        <li>Diagnostics CT, MRI, X-Ray</li>
        <li>Life-saving equipments</li>
        <li>Patient Care and Ambulance Services</li>
        <li>Operating theaters of World Class Standard</li>
        <li>Team of Pathology Specialists</li>
        <br>
        <br>
        <br>
        <h4>About this version</h4>
        <li>Added Navigation bar in all Pages so that you can Navigate through all the pages.</li>
        <li>You can see uploaded image on the Report Page.</li>
        <li>You can download the whole report in PDF format.</li>
    </ul>
</div>
</body>
